<!DOCTYPE html>
<html>
    <head>
        <title>Volume</title>
        <style>
            :root {
                color-scheme: light dark;
            }
        </style>
    </head>
    <body>
	<h1>Volume</h1>
        <table>
            <% data.forEach(function(item) { %>
                <tr>
                    <form method="post" name="update-<%= item.stream %>" action="/update">
                        <input type="hidden" name="stream" value="<%= item.stream %>">
                        <td><label for="volume"><%= item.stream %></label></td>
                        <td><input type="range" name="volume" id="volume-<%= item.stream %>" min="0" max="<%= item.max_volume %>" value="<%= item.volume %>" step="1" list="markers-<%= item.max_volume %>" ></td>
                        <td><input type="submit" value="Update"></td>
                    </form>
                </tr>
            <% }) %>
        </table>
        <%# thanks stack overflow... https://stackoverflow.com/a/9229821 %>
        <% [...new Set(data.map(item=>item.max_volume))].forEach(function(option) { %>
            <datalist id="markers-<%= option %>">
                <% for(var a=0;a<=option;a++) { %>
                    <option value="<%= a %>"></option>
                <% } %>
            </datalist>
        <% }) %>
    </body>
</html>
